<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Mardis.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body class="body-login">
    <h1><img src="~/Content/img/logoMardis.png" /></h1>
      <div class="content-login">
          
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
